<!--
<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>
-->

<ion-content>
  <div class="login-container">
    <div class="logo-container">
      <img src="assets/images/logoMobUTEQ.png" alt="Logo de la app" />
    </div>
    <div class="form-container">
      <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <ion-item>
          <ion-label position="floating">Correo</ion-label>
          <ion-input formControlName="email" type="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input formControlName="password" type="password"></ion-input>
        </ion-item>
        <ion-button type="submit" class="rounded-button">Iniciar Sesión</ion-button>
      </form>
    </div>
    
    <div class="register-container">
      <ion-item lines="none">
        <ion-label class="register-label">¿No tienes cuenta? <a [routerLink]="['/registro']">Regístrate aquí</a></ion-label>
      </ion-item>
    </div>
  </div>

  
</ion-content>
